html {
    background: url("../images/whitespace.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nameofGame {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
  }

#NameofGame {
    font-family: 'Star Jedi', arial;
    font-size: 34pt;
    font-style: bold;
}

#engageBtn {
    size: Large;
    color: red;
    background-size: auto;
}
.fighterImg {
    width: 100%;
    height: auto;
}

.enemyCard {
    background-color: red;
    padding: 3px;
}

.sectionName {
    font-size: 2vw;
}


.charCard {
    background-color:rgba(128, 128, 128, 0.609);
    padding: 2px;
    color:black;
    text-align: center;
    box-sizing: border-box;
    size: 100%;
}
.defenderCard {
    background-color:tomato;
    padding: 3px;
}
.row {
   align-content: left;
}
