html {
    background-image: url("../images/whitespace.jpeg");
}

#nameofGame {
    font-size: 20pt;
    background-color: blue;
    opacity: .8;
    color: whitesmoke;
    text-align: center; 
}

.sectionName {
    font-size: medium;
}

